@model AppDevGroupCoursework.Request.UserRequest

@{
    ViewData["Title"] = "AddUsers";
}

<h1>Add Users</h1>

<hr />
                    <div class="card shadow mb-4">
<div class="card-body">
<div class="row">
        <form asp-action="AddUsers">
            <div class="form-row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-6">
                <label asp-for="username" class="control-label">Username</label>
                <input asp-for="username" class="form-control" />
                <span asp-validation-for="username" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="fullName" class="control-label">Full Name</label>
                <input asp-for="fullName" class="form-control" />
                <span asp-validation-for="fullName" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="email" class="control-label">Email</label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="phoneNumber" class="control-label">Phone Number</label>
                <input asp-for="phoneNumber" class="form-control" />
                <span asp-validation-for="phoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="jobTitle" class="control-label">Job Title</label>
                <input asp-for="jobTitle" class="form-control" />
                <span asp-validation-for="jobTitle" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="password" class="control-label">Password</label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            </div>
        </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
    </div>
</div>
